body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  header {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#C4170C;
    color: white;
    padding: 20px;
    font-weight: 800;
  }
  header h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }  
  nav ul li a {
    color: white;
    text-decoration: none;

  }
  nav ul li a:hover {
    background-color: #09090c; 
  }
  
  main {
    padding: 20px;
  }
  .registro-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    color: #333;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="tel"],
  input[type="email"],
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #C4170C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #C4170C;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }